alembic==1.16.5
annotated-types==0.7.0
blinker==1.9.0
click==8.3.0
colorama==0.4.6
Flask==3.1.2
flask-cors==6.0.1
Flask-JWT-Extended==4.7.1
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.2.4
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.10
MarkupSafe==3.0.2
pillow==11.3.0
psycopg==3.2.10
psycopg-binary==3.2.10
pydantic==2.11.9
pydantic_core==2.33.2
PyJWT==2.10.1
pystray==0.19.5
python-dotenv==1.1.1
six==1.17.0
spectree==1.5.7
SQLAlchemy==2.0.43
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
Werkzeug==3.1.3
